.ql-snow * {
  font-family: "Roboto", sans-serif;
}

.ql-snow.ql-container {
  border: none !important;
}
.ql-snow .ql-tooltip {
  @apply !z-30 !ml-[150px]
}
.ql-snow .ql-tooltip[data-mode=link]::before {
  content: "Введите ссылку:";
}
.ql-snow .ql-tooltip[data-mode=video]::before {
  content: "Введите ссылку:";
}

.ql-snow.ql-container:not(.ql-disabled) {
  background: #f4f5f7 !important;
}

.ql-snow .ql-editor h1,
.ql-snow .ql-editor h2,
.ql-snow .ql-editor h3,
.ql-snow .ql-editor h4 {
  font-weight: bold !important;
  line-height: 140% !important;
  color: #424242 !important;
}

.ql-snow .ql-editor h1 {
  font-size: 25px !important;
}

.ql-snow .ql-editor h2 {
  font-size: 22px !important;
}

.ql-snow .ql-editor h3 {
  font-size: 19px !important;
}

.ql-snow .ql-editor h4 {
  font-size: 16px !important;
}

.ql-snow .ql-editor p,
.ql-snow .ql-editor ol {
  line-height: 155% !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  color: #4C4C4D !important;
}

.ql-snow .ql-editor a {
  font-weight: 700 !important;
  font-size: 16px !important;
  text-decoration: underline !important;
}

.ql-snow a {
  color: #007BE5 !important;
}

.ql-toolbar.ql-snow {
  position: sticky !important;
  top: 83px !important;
  padding: 20px 0 !important;
  z-index: 1 !important;
  background: #f4f5f7 !important;
  border: none !important;
}

.ql-editor[contenteditable="true"] {
  border-top-left-radius: 28px !important;
  border-top-right-radius: 28px !important;
  border-top: 28px solid white !important;
  background: #fff !important;
}

.ql-editor > * {
  word-break: break-word !important;
  overflow: hidden !important;
}
